.container {
    padding-top: 3rem;
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
}
form {
    button {
        width: 100%;
    }
}
p {
    margin-top: 1rem;
}

